/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/uno -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/mag/samplesheets/samplesheet.csv'

    // References
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false
    
    //MIDAS2 options
    midas2_uhgg_db                 = null
    save_midas2_uhgg_db            = false
    skip_midas2                    = true
    midas2_snps_select_by = 'median_marker_coverage,unique_fraction_covered'
    midas2_median_marker_coverage  = '2'
    midas2_unique_fraction_covered = '0.5'
    
    //trimming_reference
    adapter_seqeunce = "${projectDir}/assets/TruSeq3-PE.fa"
    
    //host_removal_options
    host_fasta                           = null
    host_genome                          = null
    host_removal_verysensitive           = false
    host_removal_save_ids                = false
    save_hostremoved_reads               = false
    
    //assembly_options
    coassemble_group                     = true
    
    // binning options
    bowtie2_mode                         = null
    binning_map_mode                     = 'group'
    save_assembly_mapped_reads           = false
    skip_binning                         = false
    min_contig_size                      = 1500
    min_length_unbinned_contigs          = 1000000
    max_unbinned_contigs                 = 100
    skip_prokka                          = true
    refine_bins_dastool_threshold        = 0.5 
    postbinning_input                    = 'refined_bins_only' 
    
    //taxonomy_tools
    skip_gtdbtk                          = true
    
    //Bin QC
    skip_binqc                           = true
    checkm_download_url                  = "https://data.ace.uq.edu.au/public/CheckM_databases/checkm_data_2015_01_16.tar.gz"
    checkm_db                            = null
    save_checkm_data                     = false
}